body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #000066;
}
.footer {
  width: 100%;
  margin: 0 auto;
  background-color: #000066;
}
.footer-text {
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
  padding-bottom: 64px;
}
.menu {
  width: 200px;
  margin: 0 auto;
  background-color: #666600;
}
